<br><br><br><br>
<footer class="container text-center foot">
        <div class="copyrights">
            <p class="white-txt">
                <br><br>
                <img class="footerr" src="https://www.shareicon.net/download/2016/07/10/119962_youtube.ico" style="width:100px">
            </p>
            <hr class="dark-line">
            <a class="link" href="/contact">YouTune - Created in 2018 by Will Stearn as a Project for GA</a>&nbsp

        </div>
</footer>
